<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login/Signup</title>
        <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        rel="stylesheet"
        />
        <link
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
        rel="stylesheet"
        />
        <link href="../css/index.css" rel="stylesheet" />
        <link
        href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.css"
        rel="stylesheet"
        />
        <script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.js"
        ></script>
        
    </head>
    <body class="d-flex justify-content-center p-5" style="background-color: black;">
        <div class="card" style="margin: 9em;">
            <div class="card-header" style="margin-top: 10px;">
                <center><h3>Let's Get Rolling !!</h3></center>
            </div>
            <form onsubmit="login()" id="loginForm" class="card-body px-5 py-4">
                <center><small><span id="error" style="color: red"></span></small></center>
                <center><label class="custom-field">
                    <input id="email" type="text" class="input" required />
                    <span class="placeholder">Your Email...</span>
                </label><br />
                <label class="custom-field" style="margin-bottom: 15px;">
                    <input id="password" type="password" class="input" required />
                    <span class="placeholder">Password...</span>
                </label></center>
                <a href="#" onclick="forgotPass()" >Can't Remember the Password ? </a>
                <center><button type="submit" class="btn btn-primary" style="margin-top: 40px;">Login</button>
                <button onclick="signUp()" class="btn btn-secondary">Sign Up</button>
                </center>
            </form>
        </div>
        <div class = "animation">
            <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_q5pk6p1k.json"  background="transparent"  speed="1"  style="width: 500px; height: 500px;"  loop  autoplay></lottie-player>

        </div>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-app.js"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
            https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-analytics.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-auth.js"></script>

        <script src="../html/firebase.js"></script>
        <script src="../html/login.js"></script>
    </body>
</html>